.search-bar {
    margin-top: 20px!important;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    left: 20%;
    width: 60%;
}

.movie-container {
    padding: 10px;
    margin: 20px;
    display: flex;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.details {
    font-weight: bold!important;
    margin-bottom: 5px!important;
}

.details-card {
    box-shadow: none!important;
    background: none!important;
}

.description {
    margin-bottom: 40px!important;
}

.poster {
    margin: 10px;
    border-radius: 10px;
    height: 400px;
}
