.stack-container {
    position: relative;
    margin-top: 20px;
    left: 10%;
    width: 80%;
}

.search-container {
    margin-top: 20px!important;
    display: flex;
    height: 80px;
    justify-content: center;
}


.search-bar {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    height: 55px;
    width: 60%;
}

.logo-button {
    background: none !important;
}

.logo-button:hover {
    transform: translateY(5px);
}

.logo {
    position: relative;
    height: 100px;
}

